
/*! NAV BAR LEFT  */
#nav-bar-left{
    background-color: black;
    width: 100px;
}


/* ! MAIN + HEADER FIXED */
#main-scroll{
    background-color: #141922;
    height: 800px;
    width: calc(100vw - 100px);
    overflow-y: auto;
}
#header-main-fixed{
    background-color:#080b12;
    height: 100px;
    width: 100%;
    position: fixed;
}
/* !FOOTER  */
#navbar-bottom{
    background-color: #282828;
    height: 100px;
    width: 100vw;
 
}

/* ----------  */

