/* ----------  */

*{
    color: #73767b;
    font-family: 'Montserrat', sans-serif;
}


/*! NAV BAR LEFT  */
#nav-bar-left{
    z-index: 1;
    background-color: black;
    width: 230px;
    padding: 10px;
    position: relative;
}    

.nav-bar-left{
    
}
.icon-bottom{
    position: absolute;
    bottom: 0;
}
.icon-bottom img{
    width: 60%;
    margin: 5px;
    filter: grayscale(80%);
 
}
.icon-logo{
    padding-bottom: 10px;
}
.icon-bottom .profile{
    background-color: gray;
    border-radius: 50%;
    padding: 5px;
}

/* display: flex;
flex-direction: column;
justify-content: space-between;
}
 */


/* ! MAIN + HEADER FIXED */ 
#main-scroll{
    background-color: #141922;
    height: calc(100vh - 100px);
    flex-grow: 1;
    overflow-y: auto;
}    
.nowrap{
    flex-wrap: nowrap;
}
#header-fix{
    background-color:#080b12;
    height: 100px;
    width: 100%;
    position: fixed;
}    
.btn-upgrade{
    border: 1px solid white;
    display: inline;
    padding: 10px 25px;;
    border-radius: 25px ;
    font-size: 1em;   
}    
.main-list{
    padding: 20px;
    margin-top: 100px;
}    
.main-list ol{
    display: flex;
    justify-content: space-around;
    line-height: 50px;
   }

.main-list li{
    display: inline;
    padding: 5px ​20px;

}    
li a{
    text-decoration: none;
}
.row-card{
    padding: 10px;
}
.card{
    text-align: center;
    padding: 10px;
}
.card-circle img{
    border-radius: 50%;
}
.pd-lf-10{
    padding-left: 10px;
}
           
/* !FOOTER  */
#navbar-bottom{
    background-color: #282828;
    height: 100px;
    width: 100vw;
 
}    

.relative{
    position: relative;
}
