body{
    font-family: 'Montserrat', sans-serif;
}


/* header  */
#haeder-bar{
    background-color: rosybrown;
    height: 50px;

}


/* nav-bar */
#navigation-bar-left{
    background-color: royalblue;
    height: calc(100vh - 50px);
    flex-direction: column;
}


/* main  */

/* footer  */

#footer-bar{
    background-color: tomato;
    height: 50px;

}


/* ----------  */

